body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #12587f;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: gray;
    padding: 5px;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    padding: 5px;
    margin-bottom: 10px;
}

 footer {
    background-color: lightgray;
 }

img {
    float: left;
    margin: 5px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}