body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #f5f7f9; 
    background-color: #000; /* Promijenjena boja pozadine */
}

.upperBody {
    color: #fff;
    width: 100%;
    background-color: #000;
    text-align: center;
}

.upperBodyRight {
    width: 25%;
}

.upperBodyRight img {
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); 
}

.modal img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #f5f7f9;
    text-decoration: none;
}

a:hover {
    color: #4d4e4e;
}

.choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.student {
    text-align: center;
}

.student img {
    border-radius: 10px;
}

.student img:hover {
    opacity: 0.85;
}
